html {
	background-color: #ededed;
}

body{
	font-family: Open Sans, Arial, sans-serif !important;
	width: 960px;
	margin: 0 auto;
	box-shadow: 0px 0px 4px #888888;
	color: #434b4d;
}

h1 {
	font-size: 2.83em;
	font-weight: normal;
	margin-top: 0px;
}


.banner {
	background-image: url('http://www.insidesales.com/images/careers-banner.jpg'); 
	background-size: 960px 635px;
	background-repeat: no-repeat;
	height: 449px;
	color: #ffffff;
	border-bottom: 5px solid #e9310e;
}

.banner-content {
	padding-top: 124px;
	margin-left: 495px;
	margin-top: 0px;
}

.banner-content h1 {
	font-size: 2.83em;
	font-weight: normal;
}


.banner-content p {
	font-size: 0.9375em;
	font-weight: 200;
	margin-top: 0px;
	margin-bottom: 30px;
}

.pure-button {
	font-size: 0.9375em;
	background-color: #e8310e;
	border-radius: 4px;
	color: #ffffff;
	text-decoration: none;
	padding: 6px;
	font-weight: 200;
}

.videoContainer {
	padding-top: 0px;
	margin-bottom: 0px;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.videoHeroMobile {
	width: 475px;
    background-size: 100% auto;
    background-position: top center;
    background-image: url('http://static.insidesales.com/assets/images/science-of-sales-screenshot-mobile2.jpg');
    /*height: 234px;*/
    height: 0;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 31%;
    display: inline-block;
    float: left;
}

.videoHeroMobile2 {
	width: 509px;
    background-size: 100% auto;
    background-position: top center;
    background-image: url('http://www.insidesales.com/images/do-good-foundation-video.jpg');
    /*height: 234px;*/
    height: 285px;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    float: right;
}

#frameVideo {
    height: 100%;
    width: 100%;
    position: absolute;
} 

#circlePlay {
    width: 15%;
}

#circlePlay2 {
    width: 15%;
}

.videoPlay {
    margin-top: 5em;
}

.what-we-do-content {
	padding: 42px 70px 0px 20px;
	font-weight: 200;
	width: 395px;
	display: inline-block;
	float: right;
	background-color: #ffffff;
	height: 253px;
	margin: 0;
}

.what-we-do-content h2 {
	color: #3e4546;
}

.what-we-do-content p {
	color: #636466;
}

h2 {
	font-weight: 200;
	font-size: 1.875em;
	margin: 0;
}

.what-we-do-content p {
	margin: 0;
	padding-top: 6px;
}

.benefits {
	clear: both;
	height: 185px;
	padding: 37px 50px 0 70px;
}

.benefits h2 {
	color: #3e4546;
}

.benefits p {
	font-size: 0.9375em;
	margin: 0;
	color: #636466;
}

.benefits-content {
	padding-top: 37px;
	display: inline-block;
	width: 256px;
	padding-right: 20px;
}

.do-good {
	clear: both;
	height: 285px;
	margin: 0;
	background-color: #434b4d;
}

.do-good-content {
	padding: 37px 20px 0px 70px;
	font-weight: 200;
	width: 361px;
	display: inline-block;
	float: left;
	background-color: #ffffff;
	height: 248px;
	margin: 0;
}

.do-good-content {
	color: #3e4546;
}

.do-good-content p {
	color: 
	margin: 5px 0 0 0;
}

.open-positions {
	clear: both;
	margin: 0;
	background-color: #ffffff;
}

.open-positions-banner {
	height: 40px;
	padding-left: 70px;
	background-color: #434b4d;
	color: #ffffff;
	border-bottom: 5px solid #e9310e;
}

.departments {
	background-color: #ffffff;
	height: 99px;
	text-align: center;
}

.department {
	display: inline-block;
	padding: 0 8px;
}

.department p {
	font-size: 0.9375em;
} 

.department-listing {
	margin: 0 70px;
}

.department-title {
	border-bottom: 1px solid #dedede;
}

.department-title h3 {
	margin: 0 0 10px 0;
	font-weight: 200;
	color: #434b4d;
	font-size: 1.3125em;
}

.position {
	display: inline-block;
	width: 610px;
	margin-top: 18px;
	margin-bottom: 10px;
}

.position p {
	margin: 0px;
	font-size: 0.9375em;
}

.apply	{
	display: inline-block;
	width: 190px;
}

.apply-button {
	padding: 4px 18.5px;
}